*{
    font-family: 'Pridi', serif;
}

.site-footer {
    background-color: #333333;
    color: #737373;
    padding: 40px 40px;
    margin-top: 100px;
}

.goods{
    width: 200px;
    height: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important; 
    border-radius: 7px;
}

.goods:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35) !important;
}

.img {
    border-radius: 7px;
}