.padding-l-r{
    padding-left: 15px;
    padding-right: 15px;
}.site-footer{
    background-color: black;
    color: white;
    padding: 20px 0 20px;
    font-size: 1em;
    text-align: center;
    position:fixed;
    bottom:0px;
    width:100%;
}.border-table{
    max-width: auto;
    max-height: auto;
    padding: 2em;
    background-color: white;
    margin-bottom: 150px;
    margin-top: 60px;
    
}.shadow-lg{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)!important;
}.table-reponsive{
    display: block;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
 
}
#grad {
    background-image: linear-gradient(to bottom right, red, yellow);
  }